Package: masked-emails-daemon
Version: 1.0
Section: base
Priority: optional
Architecture: all
Depends: dotnet-runtime-6.0
Maintainer: Maxime Labelle <springcom@users.noreply.github.com>
Description: Daemon process for Masked-Emails
