[Service]
Type=forking
RemainAfterExit=no
Restart=always
RestartSec=5s
ExecStart=/etc/init.d/masked-emails start
ExecStop=/etc/init.d/masked-emails stop
